footer {
  display: flex;
  width: 100dvw;
  height: 233px;
  align-items: center;
  justify-content: space-evenly;
  background: url("../../assets/rodape.png");
}

.logo {
  width: 166px;
  height: 63px;
}
.socialmedia img {
  width: 25px;
  height: 25px;
}
.socialmedia {
  display: flex;
  gap: 35px;
}
.content {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  gap: 200px;
}
.content h3{
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
}
